/* main css file */
h1 {
  text-align: center;
  font-size: 80px;
  color: #1db954;
  margin-top: 30px;
  margin-bottom: 30px;
  font-family: "Montserrat";
  font-weight: 700;
}

text{
    margin-top:20px;
}

p{
    color:#1DB954;
}

td{
    color:#1DB954;
    padding:20px;
}

table{
    border:1px solid #828282;
    background-color:#ecebe8;
    margin:auto;
    text-align:left;
    padding:20px;
}

th {
    text-align:center;
}

.button-ctr{
    margin:auto;
    text-align:center;
}

.displaybutton {
  color: black;
  background-color: #1db954;
  border: 3px solid #1db954;
  border-radius: 50px;
  margin: auto;
  margin-top: 55px;
  font-size: 20px;
  padding: 20px;
  width: 300px;
  margin: 15px, 30px;
  font-family: "Lato";
  font-weight: 700;
  letter-spacing: 1px;
  color: #ecebe8;
  text-transform: uppercase;
}

.displaybutton2{
    color:black;
    background-color:#1DB954;
    border:3px solid #1DB954;
    border-radius:50px;
    font-size:10px;
    padding:20px;
    width:100px;
    font-family:'Lato';
    font-weight:700;
    letter-spacing:1px;
    color:#ecebe8;
    text-transform:uppercase;
}

body {
  background-color: black;
  font-family: "Lato";
  margin: auto;
}

.droparea {
  width: 300px;
  height: 300px;
  border-style: solid;
  border-radius: 25px;
  border-width: 1px;
  border-color: black;
  margin: auto;
  margin-top: 0px;
  line-height: 200px;
  text-align: center;
  background-color: #828282;
  font-family: "Lato";
}

.imageinput {
  font-family: "Lato";
}

img {
  display: inline-block;
  width: 300px;
  height: 300px;
  border-radius: 25px;
}

#hideme {
  display: none;
}
