/* main css file */
h1 {
    text-align:center;
    font-size:80px;
    color:#1DB954;
    margin-top:30px;
    margin-bottom:30px;
    font-family:'Montserrat';
    font-weight:700;
}

.button-ctr{
    margin:auto;
    text-align:center;
}

button{
    color:black;
    background-color:#1DB954;
    border:3px solid #1DB954;
    border-radius:50px;
    margin:auto;
    margin-top:55px;
    font-size:20px;
    padding:20px;
    width:300px;
    margin:15px, 30px;
    font-family:'Lato';
    font-weight:700;
    letter-spacing:1px;
    color:#ecebe8;
    text-transform:uppercase;
}

body {
    background-color:black;
    font-family: 'Lato';
    margin:auto;
}

.droparea {
    width: 300px;
    height: 300px;
    border-style: solid;
    border-radius:25px;
    border-width: 1px;
    border-color: black;
    margin:auto;
    margin-top:0px;
    line-height: 200px;
    text-align: center;
    background-color:#828282;
    font-family:'Lato';
} 
