{% extends 'base.html' %} {% block content %}
<h1>moodsy</h1>

<div class="container">
  <div class="droparea">
    <img
      id="uploaded"
      src="/static/drop_image_here.jpg"
      alt="uploaded_image"
    />
  </div>
</div>
<script src="../static/script.js"></script>
<div class="button-ctr">
  <form action="/process" method="post">
    <input type="text" id="artist" name="artist" />
    <br />
    <button type="submit" id="hideme" value="Send Email"></button>
    <button class="displaybutton">Give me a song</button>
  </form>
</div>
{% endblock %}
